[package]
name = "servo-media-traits"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
publish.workspace = true
rust-version.workspace = true

[lib]
name = "servo_media_traits"
path = "lib.rs"

[dependencies]
malloc_size_of = { workspace = true }
malloc_size_of_derive = { workspace = true }
